<center>
    <div class="jumbotron">

        <h2  style="size">sales application</h2>
        <p class="lead"></p>

    </div>

    <div class="jumbotron">
        <div class="wrapper content">
            <form action="" method="POST" class="form">
                <table>
                    <tr>
                        <th>Code</th>
                        <td><input type="text" name="code"></td>
                    </tr>
                    <tr>

                        <th>Company</th>
                        <td><input type="text" name="Company"></td>
                    </tr>
                    <tr>

                        <th>Telephone Number </th>
                        <td><input type="password" name="Telephone"></td>
                    </tr>
                    <tr>

                        <td></td>
                    </tr>
                </table>

                <input type="submit" name="submit" value="save">
            </form>

            <p>  Click here to <a href="">search</a></p>
        </div>
    </div>
</center>
